.app {
  font-family: sans-serif;
  min-width: 300px;
}

.app header {
  background-color: #fff;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.app main {
  padding: 0 36px;
}

.app h1 {
  text-align: center;
  margin-left: 18px;
  font-size: 24px;
}
